<!doctype html>
<html>
  <head>
    <title>Session: <%= room %></title>
    <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/codemirror.css">
    <style>
    	.footer {
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 50px;
		  background-color: #443f3f;
		}

		#usercode {
			width: 100%;
			height: 400px;
      padding: 4%;
      color: black;
		}

		#output{
			width: 100%;
			height: 400px;
		}
		#roomWelcome{
			padding: 1% 0%;
			font-size: 120%;
			font-weight: bold;
			color: white;
		}
    </style>



  </head>
  <body>
    <% include partials/navbar.ejs %>
    
    <div class="container">
    	<div class="row">
       		<div class="col-lg-6" id="userdiv">
       			<textarea id="usercode">var string = "Write your javascript code here. Click on run to compile!";

console.log(string);</textarea>
       		</div>
       		<div class="col-lg-6">
     			<pre id="output"></pre>
       		</div>
       	</div>
    </div>

    <footer class="footer visible-lg-12">

      <div class="container" style="margin-top: 1% ;">
        	
        	<span id="roomWelcome">Hello <%= user %>! Welcome to <%= room %>:</span>
        	
      </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Textarea code formatting -->
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {

    window.codemirror1 = CodeMirror($('#userdiv').get(0), {
        value: $('#usercode').val(),
        mode:  "javascript",
        styleActiveLine: true,
        lineNumbers: true,
     });

    codemirror1.on("change",function(){

        alert(codemirror1.getValue("\n"));
    });
    });
    </script>
<!-- Textarea code formatting -->
<script>
  
  var socket = io();
  
  // GETTING ROOM NAME USING EJS
  var room = "<%= room %>";
  socket.on('connect',function(){
    socket.emit('room',room);
  });

  socket.on('welcome me',function(user){
    socket.emit('user input',$('#usercode').val());
  });


  // MONITORING EVERY CHANGE ON THE INPUT TEXTAREA
  $('#usercode').on('input',function(){
    socket.emit('user input',$('#usercode').val());
  });

  // LISTENING TO BROADCASTS FROM OTHER TEXTAREAS IN THE SAME ROOM
  socket.on('user input',function(msg){
    $('#usercode').val(msg);
  });

  // DISPLAYING THE OUTPUT FROM SANDBOXED COMPILER
  socket.on('code output',function(msg){
  	var padding = "----------------------------------------------------<br>Output from CoderPad Clone:<br><br>";
    $('#output').append(padding,msg,"<br>");
    setScroll();
  });

  // ONCLICK RUN FUNCTION
  $('#run').click(function(){
    socket.emit('run code',$('#usercode').val());
    return false;
  });

  // SETS SCROLL BAR TO THE BOTTOM WHEN THERE'S A LOT OF OUTPUT
	function setScroll()
	{
	  	var box = document.getElementById('output');
		box.scrollTop = box.scrollHeight;
	};

</script>
  </body>
</html>