<!doctype html>
<html>
  <head>
    <title>Session: <%= room %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/codemirror.css">
    <style>
    	.footer {
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 50px;
		  background-color: #443f3f;
		}

		#usercode {
			width: 100%;
			height: 400px;
      padding: 4%;
      color: black;
		}

		#output{
			width: 100%;
			height: 400px;
		}
		#roomWelcome{
			padding: 1% 0%;
			font-size: 120%;
			font-weight: bold;
			color: white;
		}
    </style>



  </head>
  <body>
    <% include partials/navbar.ejs %>
    
    <div class="container">
    	<div class="row"><br>
       		<div class="col-lg-6" id="userdiv">
     <!--  			<textarea id="usercode"></textarea> -->
       		</div>
       		<div class="col-lg-6">
     			<pre id="output"></pre>
       		</div>
       	</div>
    </div>

    <footer class="footer visible-lg-12">

      <div class="container" style="margin-top: 1% ;">
        	
        	<span id="roomWelcome">Hello <%= user %>! Welcome to <%= room %>:</span>
        	
      </div>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Textarea code formatting -->
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
    <script type="text/javascript">

      $(document).ready(function () {

        var boilerplate = "/*Your code is shared in real time to everyone in this session*/\n\nvar step1 = 'Write your javascript code here.\\n';\nvar step2 = 'Click on run to compile!'; \n\nconsole.log(step1+step2);"

    window.codemirror1 = CodeMirror($('#userdiv').get(0), {
        value: boilerplate,
        mode:  "javascript",
        styleActiveLine: true,
        lineNumbers: true,
     });

  var socket = io();
  
  // GETTING ROOM NAME USING EJS
  var room = "<%= room %>";
  socket.on('connect',function(){
    socket.emit('room',room);
  });

  socket.on('welcome me',function(user){
    socket.emit('user input',codemirror1.getValue("\n"));
  });


  // MONITORING EVERY CHANGE ON THE INPUT TEXTAREA
/*  $('#usercode').on('input',function(){
    socket.emit('user input',$('#usercode').val());
  });*/
  codemirror1.on("inputRead",function(){
    socket.emit('user input',codemirror1.getValue("\n"));
  });

  // LISTENING TO BROADCASTS FROM OTHER TEXTAREAS IN THE SAME ROOM
  socket.on('user input',function(msg){
  //  $('#usercode').val(msg);
    codemirror1.setValue(msg)
  });

  // DISPLAYING THE OUTPUT FROM SANDBOXED COMPILER
  socket.on('code output',function(msg){
  	var padding = "----------------------------------------------------<br>Output from CoderPad Clone:<br><br>";
    $('#output').append(padding,msg,"<br>");
    setScroll();
  });

  // ONCLICK RUN FUNCTION
  $('#run').click(function(){
    socket.emit('run code',codemirror1.getValue(" "));
    return false;
  });

  // ONCLICK CLEAR FUNCTION
  $('#clear').click(function(){
    codemirror1.setValue("");
    socket.emit('user input',codemirror1.getValue("\n"));
    return false;
  });

  // SETS SCROLL BAR TO THE BOTTOM WHEN THERE'S A LOT OF OUTPUT
	function setScroll()
	{
	  	var box = document.getElementById('output');
		box.scrollTop = box.scrollHeight;
	};
});
</script>
  </body>
</html>